@charset "UTF-8";
@font-face {
  font-family: 'deco';
  src: url('../fonts/deco.eot');
  src: url('../fonts/deco.eot') format('embedded-opentype'),
  url('../fonts/deco.woff2') format('woff2'),
  url('../fonts/deco.woff') format('woff'),
  url('../fonts/deco.ttf') format('truetype'),
  url('../fonts/deco.svg#deco') format('svg');
}
@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/fonts/icomoon.eot");
    src: url("../fonts/icomoon/fonts/icomoon.eot#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon/fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon/fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }

/*default style*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.body {
  font-family: 'Comfortaa', cursive;
  padding: 0;
  margin: 0;
  background: #fff;
  font-size: 16px;
  font-weight: 300;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'deco', cursive; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    text-decoration: none; }
  a:focus {
    color: #f0ece9; }

a[href^="tel"] {
  color: #fff; }

.image {
  position: relative; }

img {
  max-width: 100%;
  height: auto;
  display: inline-block; }

*:focus, *:hover, *.active, *:active, *:visited, button, input, select {
  outline: 0 !important;
  text-decoration: none !important;
}

button, a, .jq-selectbox {
  cursor: pointer; }

section {
  position: relative;
 }

/*default style*/

.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.players{
  font-family: 'deco', cursive;
  flex-basis: 380px;
  width: 380px;
  align-items: stretch;
  height: 100%;
  background: rgba(254,0,195,.3);
  background: -webkit-gradient(left top,right top,color-stop(0,rgba(254,0,195,.3)),color-stop(32%,rgba(169,0,254,.9)),color-stop(68%,rgba(169,0,254,.9)),color-stop(100%,rgba(254,0,195,.3)));
  background: -webkit-linear-gradient(left,rgba(254,0,195,.3) 0,rgba(169,0,254,.9) 32%,rgba(169,0,254,.9) 68%,rgba(254,0,195,.3) 100%);
  background: linear-gradient(to right,rgba(254,0,195,.3) 0,rgba(169,0,254,.9) 32%,rgba(169,0,254,.9) 68%,rgba(254,0,195,.3) 100%);
  overflow-y: scroll;
  padding: 10px;
  padding-right: 16px;
    padding-top: 100px;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(158,51,181,1);
  -moz-box-shadow: 5px 0px 5px 0px rgba(158,51,181,1);
  box-shadow: 5px 0px 5px 0px rgba(158,51,181,1);
  position: relative;
  z-index: 1;
}
.game{
  background-image: url(../images/rem/clouds.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-basis: calc(100vw - 380px);
  width: calc(100vw - 380px);
  height: 100%;

}

.player-item{
  padding: 5px;
  font-family: 'deco', cursive;
  margin-bottom: 6px;
  display: flex;
  align-items: stretch;
  border-radius: 8px;
  justify-content: space-between;
}
.avatar{
  flex-basis: 66px;
  width: 66px;
  height: 66px;
  overflow: hidden;
  position: relative;
 border-radius: 8px;
  border: rgba(255,255,255,0.4) 2px solid;
  border-top-color: rgba(255,255,255,0.7);
  border-left-color: rgba(255,255,255,0.7);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
  box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
}
.player-item.active{
  background: -webkit-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(150deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%); /* w3c */  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 5px 3px rgba(158,51,181,1);
  -moz-box-shadow: 3px 3px 5px 3px rgba(158,51,181,1);
  box-shadow: 3px 3px 5px 3px rgba(158,51,181,1);
}
.player-item.active  .avatar{
  border: rgba(255,255,255,0.6) 2px solid;
  border-top-color: rgba(255,255,255,0.8);
  border-left-color: rgba(255,255,255,0.8);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6);
  -moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6);
  box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6);
}
.avatar img{
  border: rgba(255,255,255,0.4) 2px solid;
  border-top-color: rgba(255,255,255,0.7);
  border-left-color: rgba(255,255,255,0.7);
  width: calc(100% - 6px);
  border-radius: 8px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
  box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
}
.player-item.active .avatar img{
  border: rgba(255,255,255,0.6) 2px solid;
  border-top-color: rgba(255,255,255,0.8);
  border-left-color: rgba(255,255,255,0.8);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6);
  -moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6);
  box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6);
}
.nick,
.count{
  font-size: 26px;
  text-align: center;
  line-height: 60px;
  color: rgba(255,255,255,0.7);
  text-shadow: rgba(158,51,181,1) 3px 5px 2px, 20px 24px 13px rgba(125,62,107,0);
}
.nick{
  flex-basis: calc(100% - 66px - 100px);
}
.count{
  flex-basis: 100px;
  text-align: right;
}

.nicescroll-cursors{
  background-color: rgba(255,255,255,1)!important;
  border: none!important;

}
.circle{
  margin: 40px;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  background: #333;
  border: 8px solid #FDA61C;
  position: relative;
}
.circle svg{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.circle-text{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotate(0deg);
  width: 120px;
  background: #e74c3c;
  color: #fff;
  font-family: 'Comfortaa', sans-serif;
}
#segment-2{
  transform: translate(62%, 140%) rotate(36deg);
}
#segment-3{
  transform: translate(130%, 320%) rotate(69deg);
}
.control-players{
    width: 380px;
    padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(158,51,181,1);
}
.power_controls a{
    font-size: 0;
    position: relative;
    margin-bottom: 30px;
}
.power_controls a:before {
    content: '\e93f';
    font-family: 'icomoon';
    font-size: 40px;
    color: rgba(158,51,181,1);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.control-players .btn{
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  width: 23%;
  height: 76px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'deco', cursive;
  flex-basis: 23%;
  border-radius: 8px;
  padding: 4px;
  border: rgba(255,255,255,0.4) 2px solid;
  border-top-color: rgba(255,255,255,0.7);
  border-left-color: rgba(255,255,255,0.7);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
  box-shadow: 0px 0px 5px 3px rgba(158,51,181,1);
}
.control-players .btn:hover{
  background: -webkit-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(150deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
}
/*Modal*/
.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
}
.pop-up.active{
    opacity: 1;
    background-color: rgba(2,15,73,.8);
    z-index: 300;
}
.pop-up-container{
    position: absolute;
    margin: 15px 15px;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(254,0,195,.3);
    background: -webkit-gradient(left top,right top,color-stop(0,rgba(254,0,195,.3)),color-stop(32%,rgba(169,0,254,.9)),color-stop(68%,rgba(169,0,254,.9)),color-stop(100%,rgba(254,0,195,.3)));
    background: -webkit-linear-gradient(left,rgba(254,0,195,.3) 0,rgba(169,0,254,.9) 32%,rgba(169,0,254,.9) 68%,rgba(254,0,195,.3) 100%);
    background: linear-gradient(to right,rgba(254,0,195,.3) 0,rgba(169,0,254,.9) 32%,rgba(169,0,254,.9) 68%,rgba(254,0,195,.3) 100%);
    border-radius: 8px;
}
.pop-up-content{
    overflow-y: auto;
    height: calc(100% - 40px);
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 86px;
}
@supports (display: grid) {
    .pop-up-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 136px);
        grid-gap: 1rem;
    }
}
.btn-close{
    background-image: url(../images/cancel.svg);
    -webkit-background-size: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.6s ease-out;
}
.btn-close:hover{
    transform: rotate(90deg);
}

/*flip*/
.flip_effect_horizontal {
    background: -webkit-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(300deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(150deg, rgba(114,120,214,1) 0%, rgba(255,255,255,1) 100%);
    border: 3px solid #fff;
    border-radius: 15px;
    position: relative;
    -o-transition: 1s;
    transition: 1s;
    transform-style: preserve-3d;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg); }
.flip_effect_horizontal img{
    width: auto;
    height: 100%;
}
.pop-a-z .flip_effect_horizontal .front,
.pop-fant .flip_effect_horizontal .front{
    padding: 0;
    overflow: hidden;
}
.pop-a-z .flip_effect_horizontal img,
.pop-fant .flip_effect_horizontal img{
    width: 100%;
    height: 134px;
   object-fit: cover;
    border-radius: 15px;
}
.flip_effect_horizontal.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); }
.flip_effect_horizontal .front {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; }
.flip_effect_horizontal .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-family: "deco", cursive;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    -moz-backface-visibility: hidden;
    -moz-transform: rotateY(180deg); }
/*Колесо фортуны*/

td.the_wheel
{
  background-image: url(./wheel_back.png);
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  width: 70%;
  height: 70%;

}

/* Do some css reset on selected elements */
h1, p
{
  margin: 0;
}

div.power_controls
{
  font-family: 'deco', cursive;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#spin_button{
  border-radius: 8px;
  background:  rgba(254,0,195,.3);
  font-size: 28px;
  line-height: 50px;
  width: 33%;
  color: #fcf1c4;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
/* Styles for the power selection controls */
.power {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.4);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;

  box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
  /*background: -moz-linear-gradient(#0c780e, #8f8 50%, #0c780e);*/
}
.power li{
  font-size: 0;
  height: 8px;
  width: 100px;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
.power li:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 300%;
  top: 0;
  background: -o-linear-gradient(90deg, rgba(254,0,195,.3) 0%, rgba(255,0,255,1) 50%, rgba(254,0,195,.3) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(254,0,195,.3) 0%, rgba(255,0,255,1) 50%, rgba(254,0,195,.3) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(254,0,195,.3) 0%, rgba(255,0,255,1) 50%, rgba(254,0,195,.3) 100%); /* w3c */
  transition: all 0.6s ease-in-out;

}
.power li.pw1,
.power li.pw2,
.power li.pw3{
  opacity: 0.6;
}
.power li.pw1:before,
.power li.pw2:before,
.power li.pw3:before {
  right: 0;
  transition: all 0.6s ease-in-out;
}
.power li.pw3:before {
  right: 0;
  transition: all 0.6s ease-in-out 0.2s;
}
/* Style applied to the spin button once a power has been selected */
.clickable
{
  cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
  margin-bottom: 5px;
}
/*Колесо фортуны*/
